<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>

	<%= f.label :name %><br />
    <%= f.text_field :name %>

	<%= f.label :address %><br />
    <%= f.text_field :address %>

	<%= f.label :city %><br />
    <%= f.text_field :city %>

	<%= f.label :state %><br />
    <%= f.text_field :state %>

	<%= f.label :zip %><br />
    <%= f.text_field :zip %>

	<%= f.label :time %><br />
    <%= f.text_field :time %>

	<%= f.label :latitude %><br />
    <%= f.text_field :latitude%>

	<%= f.label :venue %><br />
    <%= f.text_field :venue %>

	<%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
