
<div class="page-title">
  <h3>Find your hackathon!</h3>
</div>

<div class="control-bar">
  <%= link_to 'Add Event', new_event_path, class: "btn btn-large" %>
</div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
  	  <th>State</th>
  	  <th>Zip</th>
  	  <th>Time</th>
  	  <th>Latitude</th>
  	  <th>Venue</th>
  	  <th>Description</th>
      <th>Url</th>
      <th>Take control!</th>
    </tr>
  </thead>

<% @events.each do |event| %>
  <tr>
    
  	<td><%= event.name %></td>
  	<td><%= event.address %></td>
  	<td><%= event.city %></td>
  	<td><%= event.state %></td>
  	<td><%= event.zip %></td>
  	<td><%= event.time %></td>
  	<td><%= event.latitude %></td>
  	<td><%= event.venue %></td>
  	<td><%= event.description %></td>
    <td><%= link_to "Link", event.url %></td>
    <td>
      <%= link_to "Show", event, class: "btn btn-success" %>
      <%= link_to 'Edit', edit_event_path(event), class: "btn btn-success" %>
      <%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete, class: "btn btn-danger" %>
    </td>
  </tr>
<% end %>
</table>

<br />


